version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5555:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kanban
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
